.task {
    margin-top: 20px;
    display: flex;
    padding: 10px;
    background-color: var(--neutral-300);
    border-radius: 4px;
    gap: 6px;
    width: 70%;

    p {word-break: break-all;}
    
    h4 {
        color: var(--purple-100);
    }
}

.button {
    border: 0;
    background-color: transparent;
    color: var(--purple-100);
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    filter:contrast(160%);
    transition: 150ms;
}

.title {
    text-decoration: line-through;
    text-decoration-color: brown;
    text-decoration-thickness: 3px;
}